div.article-living
  div.writer-front
    img(src='/images/#{post.author.avatar}')
  p.writer
    a(href='/posts?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}') #{post.author.name}
  div.living-content
      p.article-title
        a(href='/article?postId=#{post._id}') #{post.title}
      pre!=post.content
      div.article-about
        span.tag #{post.created_at}
        span.tag.right
          span
            img(src='/images/browse.svg')
            span #{post.pv}
          span
            img(src='/images/comments.svg')
            span #{post.commentsCount}
          if user
            span.favourite
              img(src='/images/good.svg')
              span 0
            span.collect
              a(class='addcollect',author='#{user._id}',post='#{post._id}')
                if collections
                  - var flag = false
                  - var i = 0
                  - for(;i<collections.length;i++){
                     if post._id == collections[i]
                      - flag = true
                      - break
                  - }
                  if flag
                    img(src='/images/collect_success.svg')
                  else
                    img(src='/images/favourite.svg')
                else
                  img(src='/images/favourite.svg')

          if user&&post.author._id&&user._id.toString()===post.author._id.toString()
            div.writer-edit
              a.item(href='/article/edit?postId=#{post._id}') 编辑
              a.item(href='/article/remove?postId=#{post._id}') 删除
