div.ui.items
  div.item
    div.content
      div.meta
        -if (post.author.avatar.substr(0,5) === 'https')
          p.writer-front
            img(src='#{post.author.avatar}')
        -else
          p.writer-front
            img(src='/img/#{post.author.avatar}')
        p.writer
          a(href='/user?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}')  #{post.author.name}
          span.tag #{post.created_at}
      a.header.post-header.article-header(href='/article?postId=#{post._id}') #{post.title}
      div.descriptions.article!=post.content
      div.extra
        if user&&post.author._id&&user._id.toString()===post.author._id.toString()
          div.mini.ui.floated.buttons
            a.ui.button(href='/article/edit?postId=#{post._id}') 编辑
            a.or
            a.ui.positive.button(href='/article/remove?postId=#{post._id}') 删除
        if user
          button.mini.ui.button.favourite(user='#{user._id}',post='#{post._id}')
            -var status = false
            -var favourite = post.favourite
            -for(var k in favourite){
                if user._id === favourite[k]
                -status = true
            -}
            if status
              i.thumbs.outline.up.red.icon
            else
              i.thumbs.outline.up.icon
            span #{post.favourite_count}
          button.mini.ui.primary.button.addcollect(author='#{user._id}',post='#{post._id}')
            -var flag = false
            -var i = 0
            -for(;i<collections.length;i++){
              if post._id == collections[i]
                -flag = true
                -break
            -}
              if flag
                span 已收藏
              else
                span 收藏
if user
  div.ui.comments
    h3.ui.dividing.header 留言
    if post.comments && post.comments.length>0
    - for comment in comments
        div.comment
          a.avatar
            if (user.avatar.substr(0,5) === 'https')
              img(src='#{user.avatar}')
            else
              img(src='/img/#{user.avatar}')
          div.content.comment-text
            a.author(href='/user?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}')  #{post.author.name}
            div.metadata
              span.date #{comment.created_at}
            div.text!=comment.content
            div.actions
              a.replay 回复
              if user&&comment.author._id&&user._id.toString()===comment.author._id.toString()
                a.reply(href='/article/rmComment?commentId=#{comment._id}') 删除

  form.ui.reply.form(method='post',action='/article/addComment?postId=#{post._id}',enctype='multipart/form-data')
    div.field
      textarea(name='content')
    input.mini.ui.blue.button(type='submit',value='留言')
