div.article-living
  div.writer-front
    img(src='/images/#{post.author.avatar}')
  p.writer
    a(href='/posts?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}')  #{post.author.name}
  div.living-content
      p.article-title
        a(href='/posts/#{post._id}') #{post.title}
      pre!=post.content
      div.article-about
        span.tag #{post.created_at}
        span.tag.right
          span 浏览(#{post.pv})
          span 留言(#{post.commentsCount})

          if user&&post.author._id&&user._id.toString()===post.author._id.toString()
            div.writer-edit
              button.item
                a(href='/posts/#{post._id}/edit') 编辑
              button.item
                a(href='/posts/#{post._id}/remove') 删除
