div.comments
  if user
    div.comments-list
      h3 留言

      for comment in comments
        if post.comments && post.comments.length>0
        div.writer
          div.writer-front
            img(src='/images/#{post.author.avatar}')
          p.comment-user
            a(href='/posts?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}')  #{post.author.name}
          div.comment-content
            div!=comment.content

          div.comment-date
            p #{comment.created_at}

            if user&&comment.author._id&&user._id.toString()===comment.author._id.toString()
              a.reply(href='/posts/#{post._id}/comment/#{comment._id}/remove') 删除

    div.comment-form
      form.ui.reply.form(method='post',action='/posts/#{post._id}/comment',enctype='multipart/form-data')
        div.comment-field
          textarea(name='content')
        input(type='submit',value='留言')
