div.ui.items
  div.item
    div.content.self-content
      div.meta
        -if (post.author.avatar.substr(0,5) === 'https')
          p.writer-front
            img(src='#{post.author.avatar}')
        -else
          p.writer-front
            img(src='/img/#{post.author.avatar}')
        p.writer
          a(href='/user?author=#{post.author._id}',data-title='#{post.author.name}',data-content='#{post.author.bio}')  #{post.author.name}
          span.tag #{post.created_at}
      a.header.post-header(href='/article?postId=#{post._id}') #{post.title}
      div.extra
        div.mini.ui.buttons
          button.mini.ui.button
            i.unhide.green.icon
            span #{post.pv}
          div.or
          button.mini.ui.button
            i.talk.outline.icon
            span #{post.commentsCount}
        if user
          button.mini.ui.button.favourite(user='#{user._id}',post='#{post._id}')
            -var status = false
            -var favourite = post.favourite
            -for(var j in favourite){
                if user._id === favourite[j]
                -status = true
            -}
            if status
              i.thumbs.outline.up.red.icon
            else
              i.thumbs.outline.up.icon
            span #{post.favourite_count}
          button.mini.ui.primary.button.addcollect(author='#{user._id}',post='#{post._id}')
            -var flag = false
            -var i = 0
            -for(;i<collections.length;i++){
              if post._id == collections[i]
                -flag = true
                -break
            -}
            if flag
              span 已收藏
            else
              span 收藏
