extends header

block content
  div.content
    div.article-edit
      div.editor-front
        img(src='/images/#{user.avatar}')
      p.editor
        a(href='/posts?author=#{user._id}',data-title='',data-content='#{user.bio}')  #{user.name}

      div.edit-form
        form.ui.form.segment(method='post',action='/posts/#{post._id}/edit',enctype='multipart/form-data')
          div.field.required
            lable 标题
            input(type='text',name='title',value='#{post.title}')
          div.field.required
            lable 内容
            textarea(name='content',rows='15')  #{post.content}
          input(type='submit',value='发布')
